body {
    /* Location of the image */
    background-image: url('../img/man-at-office.jpg');

    /* Image is centered vertically and horizontally at all times */
    background-position: center center;

    /* Image doesn't repeat */
    background-repeat: no-repeat;

    /* Makes the image fixed in the viewport so that it doesn't move when 
       the content height is greater than the image height */
    background-attachment: fixed;

    /* This is what makes the background image rescale based on its container's size */
    background-size: cover;

    /* Pick a solid background color that will be displayed while the background image is loading */
    background-color: #464646;

    /* SHORTHAND CSS NOTATION
     * background: url(background-photo.jpg) center center cover no-repeat fixed;
     */
}

p {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.h6Edu {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.full-screen {
    height: 100vh;
}

.full-screen-watermark {
    visibility: hidden;
    margin-top: -100vh;
    height: 100vh;
    background-image: url("../img/watermark.png");
}


.jumbotron {
    background-color: rgba(245, 245, 245, 0.20);
    border-radius: 10px;
    padding: 20px;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.imageHoverizable {
    height: 200px;
    margin: 10px;
}

.imageHoverizable:hover {
    height: 250px;
    margin: 10px;
}

.form-group {
    margin: 10px !important;
}

.btn-primary-yellow {
    background-color: rgb(205, 207, 40) !important;
    color: darkslategray !important;
    border: rgb(205, 207, 40) 1px solid !important;
}

.btn-primary-yellow:hover {
    background-color: white !important;
    color: rgb(205, 207, 40) !important;
    border: rgb(205, 207, 40) 1px solid !important;
}

.white-background {
    background-color: white;
    padding: 20px;
    margin: 20px;
}

.fa-trash-alt {
    color: red;
}

.fa-trash-alt:hover {
    color: rgb(165, 0, 0);
}

.round_blue_badge {
    background-color: rgb(0, 157, 219);
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin: 1px;
}

.round_grey_badge {
    background-color: rgb(120, 120, 120);
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin: 1px;
}

.circular-img {
    border-radius: 50% !important;
    height: 250px !important;
    width: 250px !important;
    object-fit: cover; 
    margin: 20px;
}